@import "tailwindcss";

@theme {
  --background-color-main: #121928;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-rows: minmax(80px, auto) minmax(160px, auto) minmax(160px, auto);
}

.first {
  grid-column: 1/3;
  grid-row: 1;
}

.second {
  grid-column: 3 / 4;
  grid-row: 1;
}

.third {
  grid-column: 1;
  grid-row: 2;
}

.fourth {
  grid-column: 2/4;
  grid-row: 2;
}

.fifth {
  grid-column: 1/4;
  grid-row: 3;
}

.section {
  display: flex;
  flex-direction: column;
}

.sub-section {
  display: flex;
  gap: 1rem;
}

.sub-section p:first-child {
  width: 160px;
}

/*CAROUSEL*/
.carousel {
  margin: 100px auto;
  width: 60%;
  display: flex;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: scroll-left 10s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 5em;
  height: 5em;
  padding: 1em;
  background-color: rgb(31 41 55 / 0.5);
  font-size: 3rem;
  border-color: #374151;
  border-radius: .2em;
  text-align: center;
  align-content: center;
}

@keyframes scroll-left {
  from {
    transform: translateX(0); 
  }
  to {
    transform: translateX(-100%);
  }
}