@import "tailwindcss";

@theme {
  --background-color-main: #121928;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border: 1px solid #ffffff;
}

.first {
  grid-column: 1/3;
  grid-row: 1;
  border: 1px solid #ffffff;
}

.second {
  grid-column: 3 / 4;
  grid-row: 1;
  border: 1px solid #ffffff;
}

.third {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid #ffffff;
}

.fourth {
  grid-column: 2/4;
  grid-row: 2;
  border: 1px solid #ffffff;
}

.fifth {
  grid-column: 1/4;
  grid-row: 3;
  border: 1px solid #ffffff;
}

.section {
  display: flex;
  flex-direction: column;
}

.sub-section {
  display: flex;
  gap: 1rem;   
}

.sub-section p:first-child {
  width: 100px; /* columna fija para "Email", "Contraseña" */
}