@import "tailwindcss";

@theme {
  --background-color-main: #121928;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-rows: minmax(80px, auto) minmax(160px, auto) minmax(160px, auto);
}

.first {
  grid-column: 1/3;
  grid-row: 1;
}

.second {
  grid-column: 3 / 4;
  grid-row: 1;
}

.third {
  grid-column: 1;
  grid-row: 2;
}

.fourth {
  grid-column: 2/4;
  grid-row: 2;
}

.fifth {
  grid-column: 1/4;
  grid-row: 3;
}

.section {
  display: flex;
  flex-direction: column;
}

.sub-section {
  display: flex;
  gap: 1rem;   
}

.sub-section p:first-child {
  width: 160px;
}